<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dumilani Konyani Resume</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
  </head>
  <body>
    <div class="container">
      <hr>
      <div class="row">
        <div class="col-6">
          <h1>Dumilani Konyani</h1>
        </div>
        <div class="col-6">
          <p class="text-right"><a href="">Download my Resume</a></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="media">
            <img class="mr-3" src="{{url_for('static', filename='images/IMG_20211018_135129_891.jpg') }}" width="150" height="150" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Junior Software Engineer</h5>
             Recent computer science graduate with progressive experience writing code and designing solutions. Seeking a challenging role as a junior software engineer. Adept at working effectively in fast paced, deadline driven settings that demand strong organizational and analytical skills.
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row justify-content-md-around m-1">
            <address>
              <strong>Dumilani Konyani</strong><br>
              Anti-Corruption Bureau,<br>
            Mulanje House  P.O Box 2437,<br>
            Lilongwe Malawi <br>
              <abbr title="Phone">P:</abbr> +265 994 600 740<br>
              <a href="mailto:#">dumilanikonyani@gmail.com</a>
            </address>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h2>Education</h2>
          <hr>
          <div class="row">
            <div class="col-6">
              <h4>University of Greenwich</h4>
            </div>
            <div class="col-6">
              <h5 class="text-right"><span aria-hidden="true"></span> Sept 2020 - Apr 2021</h5>
            </div>
          </div>
          <h5><span class="badge badge-secondary">Bachelors</span></h5>
          <p>Degree Classification: 2:1 Honours<br>
Relevant Coursework:
•
Information Content Management
•
Human Computer Interaction and Design
•
Computer Projects
•
Database Administration</p>
          <div class="row">
            <div class="col-6">
              <h4>National College of Information Technology</h4>
            </div>
            <div class="col-6">
              <h5 class="text-right"><span aria-hidden="true"></span> Jan 2017 - May 2019</h5>
            </div>
          </div>
          <h5><span class="badge badge-secondary">Diploma</span></h5>
          <p>NCC Education Level 5 Diploma in Computing<br>
          Grade: Merit</p>
          <p>NCC Education Level 4 Diploma in Computing<br>
          Grade: Pass</p>
        </div>
        <div class="col-md-6 col-sm-12">
          <h2>Skill Set</h2>
          <hr>
          <div class="progress mt-4">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 85%"> Web Design and Development</div>
          </div>
          <div class="progress mt-4">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 80%"> Server Administration</div>
          </div>
          <div class="progress mt-4">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"> MySQL</div>
          </div>
          <div class="progress mt-4">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"> PHP</div>
          </div>
          <div class="progress mt-4">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 55%"> Adobe Dreamweaver</div>
          </div>
          <div class="progress mt-4">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 50%"> C#</div>
          </div>
          <div class="progress mt-4">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 50%"> Python</div>
          </div>
        </div>
      </div>
      <hr>
      <h2>Work Experience</h2>
      <hr>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col-5">
              <h4>Anti-Corruption Bureau Malawi.</h4>
            </div>
            <div class="col-6">
              <h5 class="text-right"><span aria-hidden="true"></span> Dec 2021 - Present</h5>
            </div>
          </div>
          <h5><span class="badge badge-secondary">ICT Officer Intern</span></h5>
          <p>MAin duties performed:</p>
          <ul>
            <li>Installing and configuring computer hardware, software, networks, printers, and scanners.</li>
            <li>Monitoring and maintaining computer networks and systems.</li>
            <li>Providing technical support to users.</li>
            <li>Performing inventory of ICT equipment</li>
            <li> Server administration - creating, modifying, and deleting user accounts, groups, and computer accounts in the directory service database.</li>
            <li>Performing daily backups of systems.</li>
          </ul>
        </div>
      </div>
      <hr>
      <h2>Portfolio</h2>
      <hr>
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-4 col-12 p-0"><img class="img-thumbnail"  src="file:///C|/Users/dumil/AppData/Roaming/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam744.tmp/images/300X200.gif" alt=""></div>
          <div class="col-sm-4 col-12 p-0"><img class="img-thumbnail"  src="file:///C|/Users/dumil/AppData/Roaming/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam744.tmp/images/300X200.gif" alt=""></div>
          <div class="col-sm-4 col-12 p-0"><img class="img-thumbnail"  src="file:///C|/Users/dumil/AppData/Roaming/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam744.tmp/images/300X200.gif" alt=""></div>
        </div>
        <div class="row text-center">
          <div class="col-sm-4 col-12 p-0"><img class="img-thumbnail"  src="file:///C|/Users/dumil/AppData/Roaming/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam744.tmp/images/300X200.gif" alt=""></div>
          <div class="col-sm-4 col-12 p-0"><img class="img-thumbnail"  src="file:///C|/Users/dumil/AppData/Roaming/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam744.tmp/images/300X200.gif" alt=""></div>
          <div class="col-sm-4 col-12 p-0"><img class="img-thumbnail"  src="file:///C|/Users/dumil/AppData/Roaming/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam744.tmp/images/300X200.gif" alt=""></div>
        </div>
      </div>
      <hr>
      <h2>Contact</h2>
      <hr>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8  col-12 jumbotron">
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" aria-describedby="emailHelp">
                <span id="emailHelp" class="form-text text-muted" style="display: none;">Please enter a valid e-mail address.</span>
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea rows="10" cols="100" class="form-control" id="message" name="message" placeholder="Message" aria-describedby="messageHelp"></textarea>
                <span id="messageHelp" class="form-text text-muted" style="display: none;">Please enter a message.</span>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <hr>
      <footer class="text-center">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p>Copyright © Dumilani Konyani. All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{url_for('static', filename='js/jquery.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{url_for('static', filename='js/bootstrp.js') }}"></script>
  </body>
</html>
